@media screen and (max-width: 767px){
    div#navbarCollapse{
        width: 100%;
        position: fixed;
        top: 75px;
        left:0;
        padding-left: 20px;
        padding-bottom: 5px;
        background-color:  rgba(124, 128, 124, 0.60)
    }
}